.wrapper
  /サイドバーの作成
  .chat-side
    .side-header
      %p.side-header__username 
        = current_user.name
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
      = link_to new_group_path do
        %i.fa.fa-edit
    .side-footer
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side-footer__group-name 
            = group.name
          .side-footer__latest-message 
            メッセージはまだありません。
  .chat-main
    .main-header
      %h2.main-header__current-group 開いているグループ名
      .main-header__group-member グループメンバー
      =link_to edit_group_path(@group) do
        .main-header__edit-btn Edit
    .main-msgs
      .main-msgs__box
        .main-msgs__user-name
          = @message.user.name
        .main-msgs__msg-time 
          = @message.created_at.strftime("%Y/%m/%d %H:%M")
        .main-msgs__a-msg 
          - if message.content.present?
            %p.lower-message__content
              = message.content
          = image_tag message.image.url, class: 'main-msgs__a-msg__image' if message.image.present?
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__picture
          =f.label :image, class: 'form__picture__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
        