.wrapper
  /サイドバーの作成
  .chat-side
    .side-header
      %p.side-header__username 
        = current_user.name
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog
      = link_to new_group_path do
        %i.fa.fa-edit
    .side-footer
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .side-footer__group-name 
            = group.name
          .side-footer__latest-message 
            メッセージはまだありません。
  .chat-main
    .main-header
      %h2.main-header__current-group 開いているグループ名
      .main-header__group-member グループメンバー
      .main-header__edit-btn Edit
    .main-msgs
      .main-msgs__box
        .main-msgs__user-name 投稿したユーザーの名前
        .main-msgs__msg-time 投稿時間
        .main-msgs__a-msg 投稿したメッセージ
    .form
      %form
        %input.form__message
        .form__picture
          %label.form__picture__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}